<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://tilmaluspo-001-site1.dtempurl.com/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://tilmaluspo-001-site1.dtempurl.com:8172/MsDeploy.axd?site=tilmaluspo-001-site1</MSDeployServiceURL>
    <DeployIisAppPath>tilmaluspo-001-site1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>tilmaluspo-001</UserName>
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ApiTienda.Models.EntitiesTienda" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ApiTienda.Models.EntitiesTienda, ApiTienda" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="Entities_Bio" Order="2" Enabled="False">
          <Destination Path="Data Source=SQL5105.site4now.net;Initial Catalog=db_a77f3a_webbio;User ID=db_a77f3a_webbio_admin;Password=!Ckkck1998" Name="Data Source=SQL5105.site4now.net;Initial Catalog=db_a77f3a_webbio;User Id=db_a77f3a_webbio_admin;Password=!Ckkck1998" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="BEUBIO.Entities_Bio, BEUBIO" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ApiTienda.Models.EntitiesTienda-Web.config Connection String" />
    <MSDeployParameterValue Include="Entities_Bio-Web.config Connection String">
      <ParameterValue>metadata=res://*/Modelo_eC_Bio.csdl|res://*/Modelo_eC_Bio.ssdl|res://*/Modelo_eC_Bio.msl;provider=System.Data.SqlClient;provider connection string="Data Source=SQL5105.site4now.net;Initial Catalog=db_a77f3a_webbio;User Id=db_a77f3a_webbio_admin;Password=!Ckkck1998"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="ApiTienda.Models.EntitiesTienda" />
  </ItemGroup>
</Project>