USE [master]
GO
/****** Object:  Database [DBProyecto2]    Script Date: 5/7/2021 20:58:25 ******/
CREATE DATABASE [DBProyecto2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DBProyecto2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\DBProyecto2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DBProyecto2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\DBProyecto2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DBProyecto2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DBProyecto2]
GO
/****** Object:  Table [dbo].[Articulo]    Script Date: 5/7/2021 20:58:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Articulo](
	[idArticulo] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NULL,
	[precio] [decimal](18, 2) NULL,
	[categoria] [varchar](25) NULL,
	[detalle] [varchar](max) NULL,
	[estado] [varchar](12) NULL,
	[idUsuario] [int] NULL,
	[imgPortada] [varchar](max) NULL,
	[estadoStock] [nchar](1) NULL,
	[fecha] [date] NULL,
 CONSTRAINT [PK_Articulo] PRIMARY KEY CLUSTERED 
(
	[idArticulo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Negocio]    Script Date: 5/7/2021 20:58:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Negocio](
	[idNegocio] [int] IDENTITY(1,1) NOT NULL,
	[cantidad] [int] NULL,
	[precio] [decimal](18, 2) NULL,
	[subtotal] [decimal](18, 2) NULL,
	[idAriculo] [int] NULL,
 CONSTRAINT [PK_Negocio] PRIMARY KEY CLUSTERED 
(
	[idNegocio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 5/7/2021 20:58:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[idUsuario] [int] IDENTITY(1,1) NOT NULL,
	[nombres] [varchar](50) NULL,
	[apellidos] [varchar](50) NULL,
	[direccion] [varchar](100) NULL,
	[telefono] [nchar](16) NULL,
	[email] [varchar](100) NULL,
	[estado] [nchar](1) NULL,
	[contrasena] [varchar](50) NULL,
	[token_temp] [varchar](max) NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[idUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Venta]    Script Date: 5/7/2021 20:58:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Venta](
	[idVenta] [int] IDENTITY(1,1) NOT NULL,
	[fechaVenta] [datetime] NULL,
	[idUsuario] [int] NULL,
	[idNegocio] [int] NULL,
	[total] [decimal](18, 2) NULL,
 CONSTRAINT [PK_Venta] PRIMARY KEY CLUSTERED 
(
	[idVenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Articulo] ON 

INSERT [dbo].[Articulo] ([idArticulo], [nombre], [precio], [categoria], [detalle], [estado], [idUsuario], [imgPortada], [estadoStock], [fecha]) VALUES (1, N'guante', CAST(10.00 AS Decimal(18, 2)), N'Guantes', N'guante azul ', N'Par', 1, NULL, NULL, NULL)
INSERT [dbo].[Articulo] ([idArticulo], [nombre], [precio], [categoria], [detalle], [estado], [idUsuario], [imgPortada], [estadoStock], [fecha]) VALUES (2, N'Traje de Bioseguridad', CAST(25.50 AS Decimal(18, 2)), N'Trajes', N'Color: Azul Marino Talla: M, Una sola Piesa', N'Impar', 2, NULL, NULL, NULL)
INSERT [dbo].[Articulo] ([idArticulo], [nombre], [precio], [categoria], [detalle], [estado], [idUsuario], [imgPortada], [estadoStock], [fecha]) VALUES (4, N'Traje verdes', CAST(55.50 AS Decimal(18, 2)), N'Trajes', N'Talla: M color Verde', N'Impar', 1, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Articulo] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([idUsuario], [nombres], [apellidos], [direccion], [telefono], [email], [estado], [contrasena], [token_temp]) VALUES (1, N'Dennis', N'Manotoa', N'Ambato', N'0992762555      ', N'dmmanotoa@espe.edu.ec', NULL, N'123456', NULL)
INSERT [dbo].[Usuario] ([idUsuario], [nombres], [apellidos], [direccion], [telefono], [email], [estado], [contrasena], [token_temp]) VALUES (2, N'Alan', N'Oña', N'Quito', N'0991245785      ', N'afona2@espe.edu.ec', NULL, NULL, NULL)
INSERT [dbo].[Usuario] ([idUsuario], [nombres], [apellidos], [direccion], [telefono], [email], [estado], [contrasena], [token_temp]) VALUES (4, N'Steeven', N'Ona', N'Ambato', N'0966412447      ', N'stevenseven@outlook.com', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Usuario] OFF
GO
ALTER TABLE [dbo].[Articulo]  WITH CHECK ADD  CONSTRAINT [FK_Articulo_Usuario] FOREIGN KEY([idUsuario])
REFERENCES [dbo].[Usuario] ([idUsuario])
GO
ALTER TABLE [dbo].[Articulo] CHECK CONSTRAINT [FK_Articulo_Usuario]
GO
ALTER TABLE [dbo].[Negocio]  WITH CHECK ADD  CONSTRAINT [FK_Negocio_Articulo] FOREIGN KEY([idAriculo])
REFERENCES [dbo].[Articulo] ([idArticulo])
GO
ALTER TABLE [dbo].[Negocio] CHECK CONSTRAINT [FK_Negocio_Articulo]
GO
ALTER TABLE [dbo].[Venta]  WITH CHECK ADD  CONSTRAINT [FK_Venta_Negocio] FOREIGN KEY([idNegocio])
REFERENCES [dbo].[Negocio] ([idNegocio])
GO
ALTER TABLE [dbo].[Venta] CHECK CONSTRAINT [FK_Venta_Negocio]
GO
ALTER TABLE [dbo].[Venta]  WITH CHECK ADD  CONSTRAINT [FK_Venta_Usuario] FOREIGN KEY([idUsuario])
REFERENCES [dbo].[Usuario] ([idUsuario])
GO
ALTER TABLE [dbo].[Venta] CHECK CONSTRAINT [FK_Venta_Usuario]
GO
USE [master]
GO
